BACKEND_PORT=8080
JWT_SECRET=jwt_secret
JWT_ACCESS_TOKEN_EXPIRES_IN="1m"
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"
TWO_FACTOR_EXPIRES_IN="5m"
FORGOT_PASSWORD_EXPIRES_IN="2m"

FORTYTWO_CLIENT_ID= # 42 API
FORTYTWO_CLIENT_SECRET=	# 42 API

FRONTEND_PORT=3000
SERVER_BACKEND_URL=http://backend:${BACKEND_PORT} # localhost is your domain name
NEXT_PUBLIC_CLIENT_BACKEND_URL=http://localhost:${BACKEND_PORT}
NEXT_PUBLIC_AUTH_SESSION_KEY=session_dev
NEXT_PUBLIC_FRONT_URL=http://localhost:${FRONTEND_PORT} # localhost is your domain name

POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DB=ft_transcendence

ENVIRONMENT=production

MAIL_PASSWORD=password
MAIL_USER=mailuser@gmail.com